body {
  /* background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-repeat: no-repeat; */
  background: rgb(236, 236, 246);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.App-footer {
  text-align: center;
  margin: 40px 0;
}

a {
  color: grey;
}
